/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Navbar Auth
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.NavbarAuth {
  position: sticky !important;
  top: 0;
  background-color: var(--primary-bg-color);
  height: 62px;
  transition: var(--main-transition);
  border-bottom: 0.5px solid rgba(199, 199, 199, 0.533);
  z-index: 2;
}
.NavbarAuth .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100%;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # logo
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.NavbarAuth .container .logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.NavbarAuth .container .logo img {
  position: relative;
  width: 40px;
  height: 40px;
  transform-origin: center center;
  transition: var(--main-transition);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Search
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.NavbarAuth .container .search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--input-color);
  padding: 10px;
  gap: 10px;
  border-radius: 0.5em;
  color: var(--main-p-color);
  transition: var(--main-transition);
}
.NavbarAuth .container .search input {
  width: 100%;
  height: 100%;
  border: 0;
  color: var(--primary-dark-color);
  background-color: transparent;
  transition: var(--main-transition);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # setting
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.NavbarAuth .container .setting-nav {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
}
.NavbarAuth .container .setting-nav a i {
  position: relative;
  color: var(--main-p-color);
  transition: var(--main-transition);
  font-weight: bold;
  font-size: 18px;
  width: 35px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavbarAuth .container .setting-nav a i.active,
.NavbarAuth .container .setting-nav a i:hover {
  color: var(--primary-dark-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Theme
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.NavbarAuth .container .Theme > input {
  display: none;
}
.NavbarAuth .container .Theme .darkmodeimg {
  position: relative;
  width: 30px;
  height: 30px;
}
.NavbarAuth .container .Theme .darkmodeimg label {
  cursor: pointer;
  transition: var(--main-transition);
}
.NavbarAuth .container .Theme label::before {
  position: absolute;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../../Assets/Images/sun.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: var(--main-transition);
}
.NavbarAuth .container .Theme input:checked + .darkmodeimg label::before {
  background-image: url("../../Assets/Images/clear.png");
  transform: rotate(360deg);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Avatar
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.NavbarAuth .container .setting-nav .UserAvatar {
  position: relative;
  width: 35px;
  max-width: 35px;
  height: 35px;
  max-height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}
.NavbarAuth .container .setting-nav .UserAvatar::before {
  position: absolute;
  content: "";
  width: 35px;
  max-width: 35px;
  height: 35px;
  max-height: 35px;
  border-radius: 50%;
  padding: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--input-color);
  transition: var(--main-transition);
}
.NavbarAuth .container .setting-nav .UserAvatar:hover::before,
.NavbarAuth .container .setting-nav .UserAvatar.active::before {
  border: 2px solid var(--primary-color);
}

.NavbarAuth .container .setting-nav .UserAvatar img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
