/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# User info
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.UserInfo {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: var(--main-padding-top);
  transition: var(--main-transition);
}
@media (max-width: 772px) {
  .UserInfo {
    flex-direction: column;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# User info
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.UserInfo img {
  position: relative;
  min-width: 150px;
  max-width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--main-box-shadow);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# User info data
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.UserInfo .data {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 772px) {
  .UserInfo .data {
    align-items: center;
  }
}
.UserInfo .data h3 {
  position: relative;
  font-weight: bolder;
  font-size: 25px;
  color: var(--primary-color);
  transition: var(--main-transition);
}

.UserInfo .data p {
  position: relative;
  color: var(--main-p-color);
  font-size: 14px;
  letter-spacing: 1px;
  text-align: justify;
  transition: var(--main-transition);
}
@media (max-width: 772px) {
  .UserInfo .data p {
    text-align: center;
  }
}
.UserInfo .data .social {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: var(--main-transition);
}
.UserInfo .data .social a {
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 0.5em;
  color: var(--main-p-color);
  font-size: 16px;
  padding: 10px;
  padding-left: 5px;
  transition: var(--main-transition);
}
.UserInfo .data .social a:hover {
  padding: 10px;
  padding-left: 5px;
  width: 120px;
  max-width: fit-content;
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: var(--blue-box-shadow);
}

.UserInfo .data .button-action a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--input-color);
  box-shadow: var(--main-box-shadow);
  transition: var(--main-transition);
  padding: 8px 12px;
  border-radius: 0.5em;
  width: fit-content;
  color: var(--main-p-color);
}
.UserInfo .data .button-action a:hover {
  box-shadow: var(--blue-box-shadow);
  background-color: var(--primary-color);
  color: var(--white-color);
}
.UserInfo .data .button-action button {
  position: relative;
  padding: 8px 12px;
  border-radius: 0.5em;
  border: 0;
  min-width: 150px;
  max-width: 100%;
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: var(--blue-box-shadow);
  cursor: pointer;
  transition: var(--main-transition);
}
