/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# User info
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.UserInfo {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: var(--main-padding-top);
  transition: var(--main-transition);
}
@media (max-width: 772px) {
  .UserInfo {
    flex-direction: column;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# User info
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.UserInfo img {
  position: relative;
  min-width: 150px;
  max-width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--main-box-shadow);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# User info data
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.UserInfo .data {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 772px) {
  .UserInfo .data {
    align-items: center;
  }
}
.UserInfo .data h3 {
  position: relative;
  font-weight: bolder;
  font-size: 25px;
  color: var(--primary-color);
  transition: var(--main-transition);
}

.UserInfo .data p {
  position: relative;
  color: var(--main-p-color);
  font-size: 14px;
  letter-spacing: 1px;
  text-align: justify;
  transition: var(--main-transition);
}
@media (max-width: 772px) {
  .UserInfo .data p {
    text-align: center;
  }
}
.UserInfo .data .social {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: var(--main-transition);
}
.UserInfo .data .social a {
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 0.5em;
  color: var(--main-p-color);
  font-size: 16px;
  padding: 10px;
  padding-left: 5px;
  transition: var(--main-transition);
}
.UserInfo .data .social a:hover {
  padding: 10px;
  padding-left: 5px;
  width: 120px;
  max-width: fit-content;
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: var(--blue-box-shadow);
}

.UserInfo .data .button-action a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--input-color);
  padding: 8px 12px;
  border-radius: 0.5em;
  width: fit-content;
  color: var(--main-p-color);
  transition: var(--main-transition);
}
.UserInfo .data .button-action a:hover {
  box-shadow: var(--blue-box-shadow);
  background-color: var(--primary-color);
  color: var(--white-color);
}
.UserInfo .data .button-action button {
  position: relative;
  padding: 8px 12px;
  border-radius: 0.5em;
  border: 0;
  min-width: 150px;
  max-width: 100%;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}
.UserInfo .data .button-action button::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.4em;
  z-index: 0;
  transition: var(--main-transition);
}
.UserInfo .data .button-action button span {
  position: relative;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.UserInfo .data .button-action button.Unfollow {
  border: 1px solid red;
}
.UserInfo .data .button-action button.Follow {
  border: 1px solid var(--primary-color);
}

.UserInfo .data .button-action button.Unfollow span {
  color: red;
}
.UserInfo .data .button-action button.Follow span {
  color: var(--primary-color);
}

.UserInfo .data .button-action button.Unfollow:hover::before {
  background-color: red;
  width: 100%;
  box-shadow: 0px 12px 21px 4px rgba(242, 68, 68, 0.15);
}

.UserInfo .data .button-action button.Follow:hover::before {
  background-color: var(--primary-color);
  width: 100%;
  box-shadow: var(--blue-box-shadow);
}
.UserInfo .data .button-action button:hover span {
  color: var(--white-color);
  transition: var(--main-transition);
}
