/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# FollowCard
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.FollowCard {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
  border-radius: 0.5em;
  cursor: pointer;
  transition: var(--main-transition);
  height: fit-content;
}
.FollowCard::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 80%;
  background-color: var(--input-color);
  left: 0;
  bottom: 0;
  border-radius: 0.5em;
  transition: var(--main-transition);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # FollowCard head_image
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.FollowCard .head_image {
  position: relative;
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}
.FollowCard .head_image img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--main-box-shadow);
  transition: var(--main-transition);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # FollowCard Card_Data
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.FollowCard .Card_Data .info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  transition: var(--main-transition);
}
.FollowCard .Card_Data .follow-number {
  position: relative;
  display: flex;
  gap: 10px;
}
.FollowCard .Card_Data .follow-number p {
  position: relative;
  color: var(--main-p-color);
  font-weight: bold;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  align-items: center;
  transition: var(--main-transition);
}
.FollowCard .Card_Data .follow-number p:not(:last-child) {
  position: relative;
  padding: 0 10px 0 0;
  border-right: 1px solid var(--main-p-color);
}
.FollowCard .info .UserName {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  color: var(--primary-dark-color);
  transition: var(--main-transition);
}
.FollowCard .info .UserName + p {
  transition: var(--main-transition);
}
.FollowCard .info .links {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0 0 0;
  border-top: 1px solid var(--main-p-color);
  width: 100%;
  transition: var(--main-transition);
}
.FollowCard .info .links a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  color: var(--main-p-color);
  transition: var(--main-transition);
}

.FollowCard .info .links > a:hover {
  color: var(--primary-color);
}

.FollowCard .action {
  position: relative;
  width: 100%;
  height: 0;
  transition: var(--main-transition);
}
.FollowCard:hover .action {
  height: 35px;
}
.FollowCard .action button {
  position: relative;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 0.5em;
  border: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid var(--main-p-color);
  color: var(--main-p-color);
  cursor: pointer;
  transform: scale(0) rotate(90deg);
  transform-origin: bottom;
  transition: var(--main-transition);
  z-index: -1;
}
.FollowCard:hover .action button {
  transform: scale(1);
  z-index: 1;
}
.FollowCard .action button::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--primary-color);
  border-radius: 0.4em;
  z-index: -1;
  transition: var(--main-transition);
  color: var(--white-color);
  scale: 0;
  transform-origin: center center;
}
.FollowCard .action button:hover {
  border: 1px solid var(--primary-color);
  box-shadow: var(--blue-box-shadow);
  color: var(--white-color);
}
.FollowCard .action button:hover::before {
  scale: 1;
  width: 100%;
}
