/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# root
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
:root {
  --white-color: #fff;
  --main-p-color: #767676;
  --primary-color: #2d65ee;
  --dark-color: #14162e;
  --primary-dark-color: #161518;
  --primary-bg-color: #f6f6f6;
  --primary-bg-color-alt: #eef3ff;
  --header-bg-color: #f8f9fa;
  --footer-bg-color: #f8f8f8;
  --txt-select-bg-color: #ffe8e6;
  --main-transition: all 0.5s ease-in-out;
  --main-padding-top: 50px;
  --main-padding-bottom: 50px;
  --main-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --blue-box-shadow: 0px 12px 21px 4px rgba(68, 97, 242, 0.15);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# main reset elements
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# animation
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@keyframes Up_and_Down {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
