/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Navbar
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.navbar {
  position: relative;
  height: 62px;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  height: 100%;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# logo
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.navbar .container .logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.navbar .container .logo img {
  position: relative;
  width: 35px;
  height: 35px;
}
.navbar .container .logo > input {
  display: none;
}
.navbar .container .logo label {
  position: relative;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: var(--main-transition);
}
.navbar .container .logo label::before {
  position: absolute;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../../Assets/Images/sun.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: var(--main-transition);
}
.navbar .container .logo input:checked + label::before {
  background-image: url("../../Assets/Images/clear.png");
  transform: rotate(360deg);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# nav menu
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.navbar .container .main_nav_menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# nav menu language
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.navbar .container .main_nav_menu .language {
  position: relative;
}
.navbar .container .main_nav_menu .language > span {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
  color: var(--primary-dark-color);
  transition: var(--main-transition);
}

.navbar .container .main_nav_menu .language > span + .dropdown {
  position: absolute;
  top: calc(100% + 10px);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  box-shadow: var(--main-box-shadow);
  background-color: var(--header-bg-color);
  opacity: 0;
  z-index: -1;
}
.navbar .container .main_nav_menu .language > span + .dropdown.active {
  opacity: 1;
  z-index: 1;
  transition: var(--main-transition);
}
.navbar .container .main_nav_menu .language > span + .dropdown::before {
  position: absolute;
  content: "";
  top: -13px;
  right: 5px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent var(--header-bg-color) transparent;
}
.navbar .container .main_nav_menu .language > span + .dropdown span {
  position: relative;
  cursor: pointer;
  transition: var(--main-transition);
  font-weight: 400;
}
.navbar .container .main_nav_menu .language > span + .dropdown span.active,
.navbar .container .main_nav_menu .language > span + .dropdown span:hover {
  position: relative;
  color: var(--primary-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# nav menu 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.navbar .container .main_nav_menu li a {
  position: relative;
  display: flex;
  padding: 10px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  transition: var(--main-transition);
  border-radius: 21px;
  background: var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.navbar .container .main_nav_menu li a::before {
  position: absolute;
  content: "";
  width: 0%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  height: 2px;
  background-color: var(--primary-color);
  border-radius: 0.5em;
  transition: var(--main-transition);
}
.navbar .container .main_nav_menu li a.active {
  background: transparent;
  box-shadow: none;
}
.navbar .container .main_nav_menu li a.active::before {
  width: 50%;
}
