/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Main card
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Maincard {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 0.5em;
  cursor: pointer;
  padding: 10px;
  transition: var(--main-transition);
  height: fit-content;
  margin: 0;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Maincard Image
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Maincard .img {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: var(--main-transition);
}
.Maincard .img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--main-transition);
}
.Maincard:hover {
  box-shadow: var(--main-box-shadow);
}
.Maincard:hover .img img {
  transform: scale(1.1);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Maincard info
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Maincard .info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
  transition: var(--main-transition);
}
.Maincard .info h3 {
  color: var(--primary-dark-color);
  font-weight: 600;
  font-size: 16px;
  transition: var(--main-transition);
}
.Maincard .info .actions {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.Maincard .info .actions .more-action-menu {
  position: relative;
  z-index: 111;
}
.Maincard .info .actions .more-action-menu .menu-container {
  position: absolute;
  width: 100px;
  bottom: 30px;
  right: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--main-box-shadow);
  padding: 0;
  border-radius: 0.5em 0.5em 0 0.5em;
  background-color: var(--input-color);
  z-index: -1;
  padding: 10px;
  scale: 0;
  opacity: 0;
  transform-origin: bottom right;
  transition: var(--main-transition);
}
.Maincard .info .actions .more-action-menu .menu-container::before {
  position: absolute;
  content: "";
  border-color: var(--input-color) transparent transparent transparent;
  border-width: 10px;
  border-style: solid;
  top: 100%;
  left: 100%;
  transform: translateX(-100%);
  transition: var(--main-transition);
}
.Maincard .info .actions .more-action-menu .menu-container.active {
  z-index: 1;
  scale: 1;
  opacity: 1;
}
.Maincard .info p {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: var(--main-transition);
}
.Maincard .info .actions .more-action-menu .menu-container > p {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 35px;
  padding: 5px;
}
.Maincard .info .actions .more-action-menu .menu-container > p i {
  width: 15px;
  height: 15px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Maincard .info .actions .menu-container > p:not(:last-child) {
  border-bottom: 1px solid var(--main-p-color);
}
.Maincard .info p:hover,
.Maincard .info p.active {
  color: var(--primary-color);
  transform: scale(1.1);
}
.Maincard .info .actions .menu-container > p:not(:last-child):hover,
.Maincard .info .actions .menu-container > p:not(:last-child).active {
  border-bottom: 1px solid var(--primary-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Maincard user
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Maincard .user {
  position: relative;
  display: flex;
  gap: 10px;
}
.Maincard .user .data {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}
.Maincard .user .data h4 {
  font-weight: 700;
  font-size: 14px;
  color: var(--primary-dark-color);
  transform: translateY(50%);
  transition: var(--main-transition);
}

.Maincard .user .data .tags {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--primary-dark-color);
  transition: var(--main-transition);
  transform: translateY(100%);
}
.Maincard:hover .user .data .tags,
.Maincard:hover .user .data h4 {
  transform: translateY(0%);
}
.Maincard .user .data .tags span {
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  transition: var(--main-transition);
  width: fit-content;
  text-wrap: nowrap;
}
.Maincard .user .data .tags span:hover {
  color: var(--primary-color);
}
.Maincard .user a {
  position: relative;
  min-width: 35px;
  max-width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.Maincard .user a img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
