/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Followers
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Followers {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  transition: var(--main-transition);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Followers container
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Followers .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Followers No followers 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Followers .no_data {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Followers Seemore
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Followers .Seemore {
  position: relative;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0 auto;
  border-radius: 0.5em;
  border: 0;
  min-width: 150px;
  max-width: 100%;
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: var(--blue-box-shadow);
  cursor: pointer;
  transition: var(--main-transition);
}
